<% layout("layouts/boilerplate") %>

<div id="cluster-map"></div>

<h1>All Tourist Spots</h1>

<% for (let touristSpot of touristSpots){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(touristSpot.images.length){ %>
            <img class="img-fluid" alt="" src="<%=touristSpot.images[0].url %>" crossorigin>
            <% }else{ %>
            <img class="img-fluid" alt="" src="">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-center text-md-start"><%= touristSpot.title %></h5>
                <p class="card-text"><%= touristSpot.description %></p>
                <p class="card-text"><small class="text-muted"><%= touristSpot.location %></small></p>
                <div class="d-flex">
                    <a class="btn btn-primary mx-auto mx-md-0" href="/touristSpots/<%= touristSpot._id %>">View <%= touristSpot.title %></a>
                </div>
            </div>
        </div>
    </div>
</div>
<% }%>

<div class="mb-4 mt-3 d-flex justify-content-center">
    <a href="/touristSpots/new" class="btn btn-light">Add Tourist Spot</a>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const touristSpots = { features: <%- JSON.stringify(touristSpots) %>}
</script>

<script src="javascripts/clusterMap.js"></script>